.wrapper{
    margin: auto;
    max-width: 450px;
}
.wrapper header div.hero-image{
    width: 100%;
    height: 175px;
    background-size: cover !important;
    background-position: center !important;
}
.wrapper header img.icon{
    float: left;
    margin: 15px;
    width: 70px;
    height: 70px;
}
.wrapper header .package-info{
    float: left;
    padding-top: 15px;
}
.wrapper header .package-info h1, .wrapper header .package-info h2{
    margin: 0;
    padding: 0;
}
.wrapper header .package-info h1{
    font-size: 18px;
}
.wrapper header .package-info h2{
    padding-top: 5px;
    font-size: 14px;
}
.wrapper header .package-info h2 a{
    color: #222;
    text-decoration: none;
    font-weight: normal;
}
.wrapper header::after{
    content: "";
    display: block;
    height: 0;
    clear: both;
}
.wrapper hr {
    border: 0;
    margin: 0 15px;
    height: 1px;
    background: rgba(0,0,0,0.2);
}
.wrapper iframe{
    display: block;
    width: 100%;
}
.wrapper .block-item{
    padding: 15px;
}
.wrapper .block-item.gallary img{
    display: block;
    margin: 15px auto;
    box-shadow: 0 0 3px rgba(0,0,0,0.3);
}


