body{ color: white; }
.background{ position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: url(../images/background.png); background-size: cover; }
.content{ position: absolute; width: 100%; }

.header{ position: fixed; width: 100%; }
.header img{ margin: 30px auto 15px auto; display: block; box-shadow: 0px 3px 8px #0f0f0f; border-radius: 100%; }
.header h1{ margin: 0 0 15px 0; padding: 0; text-align: center; display: block; font-size: 25px; font-weight: 400; }

hr{ height: 2px; border: 0; border-top: 0.5px solid rgba(255,255,255,0.2); border-bottom: 0.5px solid rgba(255,255,255,0.2); background: black; }

.commingSoon{ font-size: 15px; }
.centerText{ text-align: center; }
.largFont{ font-size: 21px; font-weight: 300; }
.boldFont{ font-weight: 600; }
.selectableText{ -webkit-user-select: text; user-select: text; }
a[href="https://twitter.com/halston696"]{ color: #00aced; }

.content p{ padding: 10px 0; }
.contentBlock{ position: absolute; top: 220px; width: 100%; border-top: 0.5px solid black; background: url(../images/background.png); background-size: cover; }

.codeBlock{ margin: -25px 0 15px 0; padding: 12px; }
.codeBlock .var{ color: #28A0E4; }
.codeBlock .inner{ padding-left: 12px; }
.codeBlock a{ color: white; padding: 3px 12px; display: block; text-decoration: none; }
.codeBlock .yellow{ color: #ECEE4F; text-decoration: underline; }
.codeBlock .pink{ color: #D5063F; }
.codeBlock .comment{ color: gray; }
